@page "/{author}"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Chirp.Web.Pages.Models.TimelineModel

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = Model.RouteName;
}

<div>
    <h2> @routeName's Timeline </h2>
    <div class="row">
        @if (Model.IsUserAuthenticated() && Model.GetUserName()?.Equals(routeName) == false)
        {
            @if (Model.UserFollowsAuthor(routeName))
            {
                <form method="post"
                asp-page-handler="Unfollow" 
                asp-route-routeName="@routeName" 
                asp-route-routeAuthor="@Model.RouteName">
                    <button type="submit">Unfollow</button>
                </form>
            }
            else
            {
                <form method="post"
                asp-page-handler="Follow"
                asp-route-routeName="@routeName"
                asp-route-routeAuthor="@Model.RouteName">
                    <button type="submit">Follow</button>
                </form>
            }
        }
        <p class="follows">Following: @Model.GetFollowingCount(routeName) Followers: @Model.GetFollowersCount(routeName)
        </p>
    </div>
    @await Html.PartialAsync("Shared/_PostCheep")
    @await Html.PartialAsync("Shared/_CheepList")
    @await Html.PartialAsync("Shared/_Pagination")
</div>
