@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if (Model.Cheeps.Count > 0)
{
    <ul id="messagelist" class="cheeps">
        @ViewData["hej"]
        @foreach (var cheep in Model.Cheeps)
        {
            <li>
                <div class="row">
                    <div class="column">
                        <img class="profile" src="https://avatars.githubusercontent.com/@($"{cheep.Author.Name}")">
                        @if (Model.IsUserAuthenticated() && cheep.Author.Name != Model.GetUserName())
                        {
                            <form method="post" 
                            asp-page-handler="@(Model.UserFollowsAuthor(cheep.Author.Name) ? "Unfollow" : "Follow")"
                            asp-route-followedId="@cheep.Author.AuthorId" 
                            asp-route-routeName="@Model.RouteName"
                            asp-route-pageNumber="@Model.CurrentPage">
                                <button type="submit">@(Model.UserFollowsAuthor(cheep.Author.Name) ? "Unfollow" : "Follow")</button>
                            </form>
                        }
                    </div>
                    <div>
                        <div class="row">
                            <a href="/@cheep.Author.Name"><strong>@cheep.Author.Name</strong></a>
                            <p><i>&nbsp; &mdash; @cheep.GetSerializedTimeStamp()</i></p>
                        </div>
                        <div class="row">@cheep.Text</div>
                        <div class="row">
                            @if (Model.IsUserAuthenticated() && !Model.LikesOwnCheep(cheep))
                            {
                                <form method="post"
                                    asp-page-handler="@((Model.UserLikesCheep(cheep)) ? "Unlike" : "Like")"
                                    asp-route-cheepId="@cheep.CheepId"
                                    asp-route-routeName="@Model.RouteName"
                                    asp-route-pageNumber="@Model.CurrentPage">
                                    <button type="submit"
                                        class="like-button @(Model.UserLikesCheep(cheep) ? "liked" : "")">
                                        <img class="heart" src="@(Model.UserLikesCheep(cheep) ? "/images/liked.png" : "/images/not-liked.png")">
                                    </button>&nbsp;
                                </form>
                            }
                            @{
                                var cheepLikes = Model.GetLikeCount(cheep);
                            }
                            <p class="likes"><i>@cheepLikes.ToString() @(cheepLikes == 1 ? "person likes" : "people like") this.</i></p>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
}
else
{
    <em class="no-cheeps-message">There are no cheeps so far.</em>
}
