@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if (Model.Cheeps.Count > 0)
{
    <ul id="messagelist" class="cheeps">
        @foreach (var cheep in Model.Cheeps)
        {
            <li>
                <div class="row">
                    <div class="column">
                        <img class="profile" src="https://avatars.githubusercontent.com/@($"{cheep.Author.Name}")">
                        @if (User?.Identity?.IsAuthenticated == true && cheep.Author.Name != User.Identity.Name)
                        {
                            @if (Model.UserFollowsAuthor(cheep.Author.Name))
                            {
                                <form method="post" asp-page-handler="Unfollow" asp-route-routeName="@cheep.Author.Name">
                                    <button type="submit">Unfollow</button>
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-page-handler="Follow" asp-route-routeName="@cheep.Author.Name">
                                    <button type="submit">Follow</button>
                                </form>
                            }
                        }
                    </div>
                    <div>
                        <div class="row">
                            <a href="/@cheep.Author.Name"><strong>@cheep.Author.Name</strong></a>
                            <p><i>&nbsp; &mdash; @cheep.GetSerializedTimeStamp()</i></p>
                        </div>
                        <div class="row">@cheep.Text</div>
                        <div class="row">
                            @if (User?.Identity != null && User.Identity.IsAuthenticated && !Model.LikesOwnCheep(cheep.CheepId))
                            {
                                <form method="post"
                                    asp-page-handler="@((Model.UserLikesCheep(cheep.CheepId)) ? "Unlike" : "Like")"
                                    asp-route-cheepId="@cheep.CheepId">
                                    <button type="submit"
                                        class="like-button @(Model.UserLikesCheep(cheep.CheepId) ? "liked" : "")">
                                        <img class="heart" src="@(Model.UserLikesCheep(cheep.CheepId) ? "/images/liked.png" : "/images/not-liked.png")">
                                    </button>&nbsp;
                                </form>
                            }
                            @{
                                var cheepLikes = Model.GetLikeCount(cheep.CheepId);
                            }
                            <p class="likes"><i>@cheepLikes.ToString() @(cheepLikes == 1 ? "person likes" : "people like") this.</i></p>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
}
else
{
    <em class="no-cheeps-message">There are no cheeps so far.</em>
}
